<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuario</servlet-name>
        <servlet-class>Controllers.CrearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarCarnet</servlet-name>
        <servlet-class>Controllers.ValidarCarnet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSecciones</servlet-name>
        <servlet-class>Controllers.GetSecciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoDeGrados</servlet-name>
        <servlet-class>Controllers.ListadoDeGrados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSeccionesList</servlet-name>
        <servlet-class>Controllers.GetSeccionesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarGrado</servlet-name>
        <servlet-class>Controllers.EliminarGrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearGrado</servlet-name>
        <servlet-class>Controllers.CrearGrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearSeccion</servlet-name>
        <servlet-class>Controllers.CrearSeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarNombreGrado</servlet-name>
        <servlet-class>Controllers.ActualizarNombreGrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarSeccion</servlet-name>
        <servlet-class>Controllers.EliminarSeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearAlumno</servlet-name>
        <servlet-class>Controllers.CrearAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarMaterias</servlet-name>
        <servlet-class>Controllers.Materias.ListarMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMateria</servlet-name>
        <servlet-class>Controllers.Materias.EliminarMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearMateria</servlet-name>
        <servlet-class>Controllers.Materias.CrearMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoMaterias</servlet-name>
        <servlet-class>Controllers.Materias.ListadoMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarMateriasNotInGrados</servlet-name>
        <servlet-class>Controllers.Materias.ListarMateriasNotInGrados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearMateraGrado</servlet-name>
        <servlet-class>Controllers.Materias.CrearMateraGrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarGradoMateria</servlet-name>
        <servlet-class>Controllers.Materias.EliminarGradoMateria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuario</servlet-name>
        <url-pattern>/CrearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarCarnet</servlet-name>
        <url-pattern>/ValidarCarnet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSecciones</servlet-name>
        <url-pattern>/GetSecciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoDeGrados</servlet-name>
        <url-pattern>/ListadoDeGrados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSeccionesList</servlet-name>
        <url-pattern>/GetSeccionesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarGrado</servlet-name>
        <url-pattern>/EliminarGrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearGrado</servlet-name>
        <url-pattern>/CrearGrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearSeccion</servlet-name>
        <url-pattern>/CrearSeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarNombreGrado</servlet-name>
        <url-pattern>/ActualizarNombreGrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSeccion</servlet-name>
        <url-pattern>/EliminarSeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearAlumno</servlet-name>
        <url-pattern>/CrearAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarMaterias</servlet-name>
        <url-pattern>/ListarMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMateria</servlet-name>
        <url-pattern>/EliminarMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearMateria</servlet-name>
        <url-pattern>/CrearMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoMaterias</servlet-name>
        <url-pattern>/ListadoMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarMateriasNotInGrados</servlet-name>
        <url-pattern>/ListarMateriasNotInGrados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearMateraGrado</servlet-name>
        <url-pattern>/CrearMateraGrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarGradoMateria</servlet-name>
        <url-pattern>/EliminarGradoMateria</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
