<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuario</servlet-name>
        <servlet-class>Controllers.CrearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarCarnet</servlet-name>
        <servlet-class>Controllers.ValidarCarnet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSecciones</servlet-name>
        <servlet-class>Controllers.GetSecciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoDeGrados</servlet-name>
        <servlet-class>Controllers.ListadoDeGrados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSeccionesList</servlet-name>
        <servlet-class>Controllers.GetSeccionesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarGrado</servlet-name>
        <servlet-class>Controllers.EliminarGrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearGrado</servlet-name>
        <servlet-class>Controllers.CrearGrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearSeccion</servlet-name>
        <servlet-class>Controllers.CrearSeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarNombreGrado</servlet-name>
        <servlet-class>Controllers.ActualizarNombreGrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarSeccion</servlet-name>
        <servlet-class>Controllers.EliminarSeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearAlumno</servlet-name>
        <servlet-class>Controllers.CrearAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarMaterias</servlet-name>
        <servlet-class>Controllers.Materias.ListarMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMateria</servlet-name>
        <servlet-class>Controllers.Materias.EliminarMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearMateria</servlet-name>
        <servlet-class>Controllers.Materias.CrearMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoMaterias</servlet-name>
        <servlet-class>Controllers.Materias.ListadoMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarMateriasNotInGrados</servlet-name>
        <servlet-class>Controllers.Materias.ListarMateriasNotInGrados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearMateraGrado</servlet-name>
        <servlet-class>Controllers.Materias.CrearMateraGrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarGradoMateria</servlet-name>
        <servlet-class>Controllers.Materias.EliminarGradoMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDocentes</servlet-name>
        <servlet-class>Controllers.Docentes.GetDocentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDocente</servlet-name>
        <servlet-class>Controllers.Docentes.DeleteDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaterias</servlet-name>
        <servlet-class>Controllers.Docentes.GetMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGrados</servlet-name>
        <servlet-class>Controllers.Docentes.GetGrados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSeccionesByGradoDoc</servlet-name>
        <servlet-class>Controllers.Docentes.GetSeccionesByGradoDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMateriasDocenteByIDSeccion</servlet-name>
        <servlet-class>Controllers.Docentes.GetMateriasDocenteByIDSeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarMatriaDocente</servlet-name>
        <servlet-class>Controllers.Docentes.InsertarMatriaDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMateriaDocenteByIDDocente</servlet-name>
        <servlet-class>Controllers.Docentes.GetMateriaDocenteByIDDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMateriaDocente</servlet-name>
        <servlet-class>Controllers.Docentes.DeleteMateriaDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetClasesByDocente</servlet-name>
        <servlet-class>Controllers.Docentes.GetClasesByDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSeccionesByDocente</servlet-name>
        <servlet-class>Controllers.Docentes.GetSeccionesByDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarMisAlumnos</servlet-name>
        <servlet-class>Controllers.Docentes.ListarMisAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisSecciones</servlet-name>
        <servlet-class>Controllers.Docentes.MisSecciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEvaluacion</servlet-name>
        <servlet-class>Controllers.Evaluaciones.CreateEvaluacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEvaluaciones</servlet-name>
        <servlet-class>Controllers.Evaluaciones.ListarEvaluaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEvaluacion</servlet-name>
        <servlet-class>Controllers.Evaluaciones.EliminarEvaluacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSeccionesParaNotas</servlet-name>
        <servlet-class>Controllers.Docentes.GetSeccionesParaNotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSeccionesConNotas</servlet-name>
        <servlet-class>Controllers.Docentes.GetSeccionesConNotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSeccionesRevisionYRechazados</servlet-name>
        <servlet-class>Controllers.Docentes.GetSeccionesRevisionYRechazados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviaArchivo</servlet-name>
        <servlet-class>Controllers.Docentes.EnviaArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecibirArchivo</servlet-name>
        <servlet-class>Controllers.Docentes.RecibirArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarRevision</servlet-name>
        <servlet-class>Controllers.Notas.CancelarRevision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListAlumnosNotas</servlet-name>
        <servlet-class>Controllers.Docentes.GetListAlumnosNotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirNotasManual</servlet-name>
        <servlet-class>Controllers.Docentes.SubirNotasManual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSeccionesSinNotasAcademica</servlet-name>
        <servlet-class>Controllers.Academica.getSeccionesSinNotasAcademica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSeccionesConNotasAcademica</servlet-name>
        <servlet-class>Controllers.Academica.getSeccionesConNotasAcademica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSeccionesConNotasRevisionAcademica</servlet-name>
        <servlet-class>Controllers.Academica.getSeccionesConNotasRevisionAcademica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSeccionesConNotasRechazadasAcademica</servlet-name>
        <servlet-class>Controllers.Academica.getSeccionesConNotasRechazadasAcademica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprobaraRechazarExcel</servlet-name>
        <servlet-class>Controllers.Academica.AprobaraRechazarExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprobarRechazarNotas</servlet-name>
        <servlet-class>Controllers.Academica.AprobarRechazarNotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerNotasManual</servlet-name>
        <servlet-class>Controllers.Academica.VerNotasManual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescargaArchivoExcel</servlet-name>
        <servlet-class>Controllers.Academica.DescargaArchivoExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescargarPlantilla</servlet-name>
        <servlet-class>Controllers.Docentes.DescargarPlantilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescargarArchivoExcekPlantilla</servlet-name>
        <servlet-class>Controllers.Docentes.DescargarArchivoExcekPlantilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMisNotasAlumnos</servlet-name>
        <servlet-class>Controllers.Alumnos.GetMisNotasAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSeccion</servlet-name>
        <servlet-class>Controllers.CerrarSeccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuario</servlet-name>
        <url-pattern>/CrearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarCarnet</servlet-name>
        <url-pattern>/ValidarCarnet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSecciones</servlet-name>
        <url-pattern>/GetSecciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoDeGrados</servlet-name>
        <url-pattern>/ListadoDeGrados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSeccionesList</servlet-name>
        <url-pattern>/GetSeccionesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarGrado</servlet-name>
        <url-pattern>/EliminarGrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearGrado</servlet-name>
        <url-pattern>/CrearGrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearSeccion</servlet-name>
        <url-pattern>/CrearSeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarNombreGrado</servlet-name>
        <url-pattern>/ActualizarNombreGrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSeccion</servlet-name>
        <url-pattern>/EliminarSeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearAlumno</servlet-name>
        <url-pattern>/CrearAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarMaterias</servlet-name>
        <url-pattern>/ListarMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMateria</servlet-name>
        <url-pattern>/EliminarMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearMateria</servlet-name>
        <url-pattern>/CrearMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoMaterias</servlet-name>
        <url-pattern>/ListadoMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarMateriasNotInGrados</servlet-name>
        <url-pattern>/ListarMateriasNotInGrados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearMateraGrado</servlet-name>
        <url-pattern>/CrearMateraGrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarGradoMateria</servlet-name>
        <url-pattern>/EliminarGradoMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDocentes</servlet-name>
        <url-pattern>/GetDocentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDocente</servlet-name>
        <url-pattern>/DeleteDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaterias</servlet-name>
        <url-pattern>/GetMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGrados</servlet-name>
        <url-pattern>/GetGrados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSeccionesByGradoDoc</servlet-name>
        <url-pattern>/GetSeccionesByGradoDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMateriasDocenteByIDSeccion</servlet-name>
        <url-pattern>/GetMateriasDocenteByIDSeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarMatriaDocente</servlet-name>
        <url-pattern>/InsertarMatriaDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMateriaDocenteByIDDocente</servlet-name>
        <url-pattern>/GetMateriaDocenteByIDDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMateriaDocente</servlet-name>
        <url-pattern>/DeleteMateriaDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetClasesByDocente</servlet-name>
        <url-pattern>/GetClasesByDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSeccionesByDocente</servlet-name>
        <url-pattern>/GetSeccionesByDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarMisAlumnos</servlet-name>
        <url-pattern>/ListarMisAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisSecciones</servlet-name>
        <url-pattern>/MisSecciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEvaluacion</servlet-name>
        <url-pattern>/CreateEvaluacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEvaluaciones</servlet-name>
        <url-pattern>/ListarEvaluaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEvaluacion</servlet-name>
        <url-pattern>/EliminarEvaluacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSeccionesParaNotas</servlet-name>
        <url-pattern>/GetSeccionesParaNotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSeccionesConNotas</servlet-name>
        <url-pattern>/GetSeccionesConNotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSeccionesRevisionYRechazados</servlet-name>
        <url-pattern>/GetSeccionesRevisionYRechazados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviaArchivo</servlet-name>
        <url-pattern>/EnviaArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecibirArchivo</servlet-name>
        <url-pattern>/RecibirArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarRevision</servlet-name>
        <url-pattern>/CancelarRevision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListAlumnosNotas</servlet-name>
        <url-pattern>/GetListAlumnosNotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirNotasManual</servlet-name>
        <url-pattern>/SubirNotasManual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSeccionesSinNotasAcademica</servlet-name>
        <url-pattern>/getSeccionesSinNotasAcademica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSeccionesConNotasAcademica</servlet-name>
        <url-pattern>/getSeccionesConNotasAcademica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSeccionesConNotasRevisionAcademica</servlet-name>
        <url-pattern>/getSeccionesConNotasRevisionAcademica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSeccionesConNotasRechazadasAcademica</servlet-name>
        <url-pattern>/getSeccionesConNotasRechazadasAcademica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprobaraRechazarExcel</servlet-name>
        <url-pattern>/AprobaraRechazarExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprobarRechazarNotas</servlet-name>
        <url-pattern>/AprobarRechazarNotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerNotasManual</servlet-name>
        <url-pattern>/VerNotasManual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescargaArchivoExcel</servlet-name>
        <url-pattern>/DescargaArchivoExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescargarPlantilla</servlet-name>
        <url-pattern>/DescargarPlantilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescargarArchivoExcekPlantilla</servlet-name>
        <url-pattern>/DescargarArchivoExcekPlantilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMisNotasAlumnos</servlet-name>
        <url-pattern>/GetMisNotasAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSeccion</servlet-name>
        <url-pattern>/CerrarSeccion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
